body{
  background-color: black;
}
#gameScreen{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid orangered;
  background-image: url("../images/background.gif");
  
  margin: 0 auto;
}

#imgPlatform{
  display: none;
}
#gem{
  display: none;
}
#imgPlayer{
  display: none;
}
#background{
  display: none;
}
.controls{
  position: absolute;
  left: 55%;
  margin-left: 200px;
  bottom: 20%;
  color: orangered;
  font-size: 25px;
  font-family: 'Hanalei Fill', cursive;
  text-shadow: yellow 1px 1px;
}
.player_score{
  position: absolute;
  left: 55%;
  margin-left: 300px;
  top: 10%;
  color: orangered;
  font-size: 30px;
  font-family: 'Hanalei Fill', cursive;
  text-shadow: yellow 1px 1px;
}

.links{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  bottom: 30%;
  flex-direction: column;
  margin-left: -300px
  
}

.links a {
  color:orangered;
  font-size: 35px;
  text-shadow: yellow 1px 1px;
}

.closing-modal {
  color:orangered;
  font-size: 40px;
  font-family: 'Hanalei Fill', cursive;
  text-shadow: yellow 1px 1px;
  position: absolute;
  left: 35%;
  top: 20%;
  text-align: center;
}

#startScreen{
  background-color:black;
}

