body{
  background-color: black;
}

.main{
  display: flex;
  justify-content: space-around;
  padding-top: 2%
}

.left-side{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 7%;
  align-items: center;
}

.links{
  display: flex;
  flex-direction: column;
  top: 65%;
  position: absolute;
}

.links a{
  color: orangered;
  font-size: 40px;
  font-family: 'Hanalei Fill', cursive;
  text-shadow: yellow 1px 1px;
}

.right-side{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 7%;
}

#gameScreen{
  border: 1px solid orangered;
  background-image: url("../images/background.gif");
  margin: 0 auto;
}

.score-title{
  text-decoration: underline;
}
.highScore-title{
  text-decoration: underline;
}

.controls{
  color: orangered;
  font-size: 25px;
  font-family: 'Hanalei Fill', cursive;
  text-shadow: yellow 1px 1px;
  top: 65%;
  position: absolute;
}

.controls p{
  text-decoration: underline;
}

.gem{
  font-size: 10px;
  size: 10px;
  max-width: 30px;
  max-height: 30px;
}

.player_score{
  top: 10%;
  color: orangered;
  font-size: 30px;
  font-family: 'Hanalei Fill', cursive;
  text-shadow: yellow 1px 1px;
}

.closing-modal {
  color:orangered;
  font-size: 40px;
  font-family: 'Hanalei Fill', cursive;
  text-shadow: yellow 1px 1px;
  text-align: center;
}

.closing-modal :first-child{
  font-size: 50px;
}
.opening-modal {
  color:orangered;
  font-size: 25px;
  font-family: 'Hanalei Fill', cursive;
  text-shadow: yellow 1px 1px;
  text-align: center;
}

#clickHere{
  font-size: 40px;
}

#rules{
  text-decoration: underline;
  font-size: 30px;
}

.title{
  font-size: 70px;
}

#startScreen{
  background-color:black;
}

.muteButton{
  color: orangered;
  font-size: 25px;
  font-family: 'Hanalei Fill', cursive;
  text-shadow: yellow 1px 1px;
  border: 2px solid orangered;
  border-radius: 4px;
  padding: 4px 10px;
}
.muteButton:hover{
  cursor: pointer;
  color: black;
  background-color: orangered;
}

.clickedMute {
  color: black;
  background-color: orangered;
}


#imgPlatform{
  display: none;
}
#gem{
  display: none;
}
#lava{
  display: none;
}
#lava2{
  display: none;
}
#imgPlayer{
  display: none;
}
#background{
  display: none;
}